@model IEnumerable<EvenPlaning2.Models.EventViewModels.IndexEventViewModel>

@{
    ViewData["Title"] = "Index";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="~/js/lc_switch.js"></script>
<link rel="stylesheet" href="~/css/lc_switch.css">

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainThem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EvenDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SignedUp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPartesipantes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.MainThem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EvenDate)
            </td>
            <td>
                @Html.DisplayFor(ModelItem => item.SignedUp)
            </td>
            <td>
                @Html.DisplayFor(ModelItem => item.MaxPartesipantes)
            </td>
            <td>
                <form asp-controller="EventManager" asp-action="Details">
                    <input class="hidden" name="id" type="text" value="@item.Id" />
                    <input type="submit" class="btn btn-default" value="Details" />
                </form>

            </td>
            <td>
                <span id="@item.Id">go</span><input data="@item.Id" type="checkbox" class="checkbox" />
            </td>
            

        </tr>
        }
    </tbody>
</table>
<script>
    $(":checkbox").change(function () {
        if (this.checked) {

            $.post('@Url.Action("Enroll")', { id: this.data },function (data) {
                alert(data);
            });
        } else {
            $.post('@Url.Action("AnEnroll")', { id: this.data },function (data) {
               alert(data);
            });
        }
        console.log(arr);
    });

</script>
